<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyb.fish.mapper.PersonMapper">
    <resultMap id="BaseResultMap" type="com.tyb.fish.model.Person">
        <id column="SysNo" jdbcType="INTEGER" property="sysNo"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
        <result column="Gender" jdbcType="INTEGER" property="gender"/>
        <result column="Age" jdbcType="INTEGER" property="age"/>
        <result column="Birthday" jdbcType="DATE" property="birthday"/>
        <result column="Address" jdbcType="DATE" property="address"/>
    </resultMap>
    <sql id="Base_Column_List">
    SysNo, Name, Gender,Age,Birthday,Address
  </sql>
    <select id="loadPersonBySysNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_person
        where SysNo = #{sysNo,jdbcType=INTEGER}
    </select>
    <select id="getPersonList" resultType="com.tyb.fish.model.Person" parameterType="com.tyb.fish.model.QF_Person">
        select
        <include refid="Base_Column_List"/>
        from tb_person
        <where>
            <if test="name!=null and '' !=name">
                name = #{name}
            </if>
        </where>
    </select>
    <select id="queryPersonList" resultType="com.tyb.fish.model.Person" parameterType="com.tyb.fish.model.QF_Person">
        select
        <include refid="Base_Column_List"/>
        from tb_person
        <where>
            <if test="filter.name!=null and '' !=filter.name">
                name = #{filter.name}
            </if>
        </where>
    </select>
    <delete id="deletePerson" parameterType="java.lang.Integer">
    delete from tb_person
    where SysNo = #{sysNo,jdbcType=INTEGER}
  </delete>
    <insert id="insertPerson" parameterType="com.tyb.fish.model.Person">
   INSERT INTO tb_person ( SysNo, NAME, Gender, Age, Birthday, Address )
VALUES
	( #{sysNo,jdbcType=INTEGER},
#{name,jdbcType=VARCHAR},
#{gender,jdbcType=INTEGER},
#{age,jdbcType=INTEGER},
#{birthday,jdbcType=DATE},
#{address,jdbcType=VARCHAR}
	)
  </insert>
    <update id="updatePerson" parameterType="com.tyb.fish.model.Person">
   UPDATE tb_person
SET NAME = #{name,jdbcType=VARCHAR},
Gender = #{gender,jdbcType=INTEGER},
Age = #{age,jdbcType=INTEGER},
Birthday = #{birthday,jdbcType=DATE},
Address = #{address,jdbcType=VARCHAR}
WHERE
	SysNo = #{sysNo,jdbcType=INTEGER}
  </update>
</mapper>