<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyb.fish.mapper.PersonMapper">
    <resultMap id="BaseResultMap" type="com.tyb.fish.model.Person">
        <id column="SysNo" jdbcType="INTEGER" property="sysNo"/>
        <result column="Name" jdbcType="VARCHAR" property="name"/>
    </resultMap>
    <sql id="Base_Column_List">
    SysNo, Name
  </sql>
    <select id="loadPersonBySysNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_person
        where SysNo = #{sysNo,jdbcType=INTEGER}
    </select>
    <select id="getPersonList" resultType="com.tyb.fish.model.Person" parameterType="com.tyb.fish.model.QF_Person">
        select
        <include refid="Base_Column_List"/>
        from tb_person
        <where>
            <if test="name!=null">
                name = #{name}
            </if>
        </where>
    </select>
    <select id="queryPersonList" resultType="com.tyb.fish.model.Person" parameterType="com.tyb.fish.model.QF_Person">
        select
        <include refid="Base_Column_List"/>
        from tb_person
        <where>
            <if test="filte.name!=null">
                name = #{filte.name}
            </if>
        </where>
    </select>
    <delete id="deletePerson" parameterType="java.lang.Integer">
    delete from tb_person
    where SysNo = #{sysNo,jdbcType=INTEGER}
  </delete>
    <insert id="insertPerson" parameterType="com.tyb.fish.model.Person">
    insert into tb_person (SysNo, Name)
    values (#{sysNo,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
    <update id="updatePerson" parameterType="com.tyb.fish.model.Person">
    update tb_person
    set Name = #{name,jdbcType=VARCHAR}
    where SysNo = #{sysNo,jdbcType=INTEGER}
  </update>
</mapper>