<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tyb.fish.mapper.PersonMapper">
  <resultMap id="BaseResultMap" type="com.tyb.fish.model.Person">
    <id column="SysNo" jdbcType="INTEGER" property="sysNo" />
    <result column="Name" jdbcType="VARCHAR" property="name" />
  </resultMap>
  <sql id="Base_Column_List">
    SysNo, Name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_person
    where SysNo = #{sysNo,jdbcType=INTEGER}
  </select>
  <select id="getPersonList" resultType="com.tyb.fish.model.Person">
    select
    <include refid="Base_Column_List" />
    from tb_person
  </select>
  <select id="queryPersonList" resultType="com.tyb.fish.model.Person">
    select
    <include refid="Base_Column_List" />
    from tb_person
  </select>
  <select id="selectWithPage" resultType="com.tyb.fish.model.Person">
    select
    <include refid="Base_Column_List" />
    from tb_person
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_person
    where SysNo = #{sysNo,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.tyb.fish.model.Person">
    insert into tb_person (SysNo, Name)
    values (#{sysNo,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.tyb.fish.model.Person">
    insert into tb_person
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="sysNo != null">
        SysNo,
      </if>
      <if test="name != null">
        Name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="sysNo != null">
        #{sysNo,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.tyb.fish.model.Person">
    update tb_person
    <set>
      <if test="name != null">
        Name = #{name,jdbcType=VARCHAR},
      </if>
    </set>
    where SysNo = #{sysNo,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.tyb.fish.model.Person">
    update tb_person
    set Name = #{name,jdbcType=VARCHAR}
    where SysNo = #{sysNo,jdbcType=INTEGER}
  </update>

</mapper>