<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="safeRowBoundsEnabled" value="false"/>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="cacheEnabled" value="false"/>
    </settings>
    <typeHandlers>
        <typeHandler javaType="com.tyb.fish.model.Enum.EGender"
                     handler="com.tyb.fish.core.UniversalEnumHandler"></typeHandler>
    </typeHandlers>
    <plugins>
        <plugin interceptor="com.tyb.fishhost.config.PageInterceptor"/>
    </plugins>
</configuration>